        <div class="col col-1-5">
            <div class="">
                place for user statistics
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>