<div class="col col-3-5 vertical_border">
    <div id="result_message" style="margin: 15px; color: darkgreen"></div>
    <div id="admin_body">
        <div style="margin: 15px">Some text...</div>
    </div>

</div>